<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">

    <div class="container" style="width: 800px">
        <button class="btn btn-success" th:onclick="history.back()">돌아가기</button>
        <span th:if="${board.user.id == #authentication.getPrincipal().user.id }">
            <a th:href=" @{/board/{id}/updateForm(id=${board.id})}" class="btn btn-warning">수정</a>
            <button id="btn-delete" class="btn btn-danger">삭제</button>
        </span>

    <br/> <br/>
    <div>
        <span id="id" th:text="|글 번호 : ${board.id}|"></span>
        작성자 : <a th:href="@{/user/{id}(id=${board.user.id})}"><span>[[${board.user.username}]]</span></a>
        <span id="count" th:text="|조회수 : ${board.count}|"></span>
    </div>
    <br/>
    <div>
        <h3>[[${board.title}]]</h3>
    </div>
    <hr/>
    <div>
        <div>[(${board.content})]</div>
    </div>
    <hr/>
    <i class="fas fa-heart" th:if="${board.likeState}" style="color:red;cursor: pointer;" th:onclick="|toggleLike(${board.id})|"></i>
    <i class="far fa-heart" th:unless="${board.likeState}" style="color:red;cursor: pointer;" th:onclick="|toggleLike(${board.id})|"></i>
    <span class="like"><b id="likeCount">[[${board.likeCount}]]</b>likes</span>
    <br/><br/>

    <div class="card">
        <form>
            <input type="hidden" id="userId" th:value="${#authentication.getPrincipal().user.id}"/>
            <input type="hidden" id="boardId" th:value="${board.id}"/>
            <div class="card-body">
                <textarea id="reply-content" class="form-control" rows="1"></textarea>
            </div>
            <div class="card-footer">
                <button type="button" id="btn-reply-save" class="btn btn-success">등록</button>
            </div>
        </form>
    </div>
    <br/>
    <div class="card">
        <div class="card-header">댓글</div>
        <ul id="reply-box" class="list-group">
            <th:block th:each="reply : ${board.replys}">
                <li th:id="|reply-${reply.id}|" class="list-group-item d-flex justify-content-between">
                    <div>[[${reply.content}]]</div>
                    <div class="d-flex ">
                        <div class="font-italic">작성자 : [[${reply.user.username}]] &nbsp;</div>
                        <button th:if="${reply.user.id eq #authentication.getPrincipal().user.id}"
                                th:onClick="|index.replyDelete(${board.id}, ${reply.id})|" class="badge">삭제
                        </button>
                    </div>
                </li>
            </th:block>
        </ul>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/board.js}"></script>
</div>
</html>