<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
    <!--    <sec:authorize access="isAuthenticated()">-->
    <!--        <sec:authentication property="principal" var="principal" />-->
    <!--    </sec:authorize>-->
    <!--    <div sec:authorize="isAuthenticated()">-->
    <!--        <sec:authentication property="principal" var="principal" />-->
    <!--    </div>-->
<!--    <span sec:authentication="principal.user.id">demo</span>-->
<!--    th:with="auth=${#authentication.getPrincipal()}"-->

<!--    <div sec:authorize="isAuthenticated()">-->
<!--        <div th:with="principal=${#authentication.getPrincipal()}">-->
<!--        </div>-->
<!--    </div>-->

    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <a class="navbar-brand" href="/"><strong>🌾농사직설🌾</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/shop">농산물직거래</a></li>
                <li class="nav-item"><a class="nav-link" href="/agriculture/tech">농업기술</a></li>
                <li class="nav-item"><a class="nav-link" href="/agriculture/calculator">농약계산</a></li>
            </ul>

            <ul class="navbar-nav" sec:authorize="isAnonymous()">
                <li class="nav-item"><a class="nav-link" href="/auth/loginForm">로그인</a></li>
                <li class="nav-item"><a class="nav-link" href="/auth/joinForm">회원가입</a></li>
            </ul>

            <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                <li class="nav-item"><a class="nav-link" href="/feed">피드</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/user/{id}(id=${#authentication.getPrincipal().user.id})}">마이페이지</a></li>
                <li class="nav-item"><a class="nav-link" href="/board/saveForm">글쓰기</a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a class="nav-link"
                                                                                      href="/admin/item/new">상품 등록</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a class="nav-link"
                                                                                      href="/admin/items">상품 관리</a></li>
                <li class="nav-item"><a class="nav-link" href="/cart">장바구니</a></li>
                <li class="nav-item"><a class="nav-link" href="/orders">구매이력</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/updateForm">회원정보</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">로그아웃</a></li>
            </ul>

            <form class="form-inline my-2 my-lg-0" th:action="@{/}" method="get">
                <input name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <br/>
</div>
</html>