<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">

    <div class="container " style="width: 800px">
        <div class="d-flex justify-content-end">
            <a href="/">최신순 </a>&nbsp;
            <a href="/popular">인기순 </a>&nbsp;
        </div>

        <div>
            <div class="card m-2" th:each="board : ${boards.content}">
                <div class="card-body ">
                    <h4 class="card-title">[[${board.title}]]</h4>
                    <a th:href="@{/board/{id}(id=${board.id})}" class="btn btn-success ">상세보기</a>
                </div>
            </div>
        </div>

        <ul class="pagination justify-content-center">
            <li class="page-item disabled " th:if="${boards.first}"><a class="page-link"
                                                                       th:href="@{/(page=|${boards.number-1}|)}">Previous</a></li>
            <li class="page-item" th:unless="${boards.first}"><a style="color: #28a745;"
                                                                 class="page-link page-link-success"
                                                                 th:href="@{/(page=|${boards.number-1}|)}">Previous</a></li>

            <li class="page-item disabled" th:if="${boards.last}"><a class="page-link"
                                                                     th:href="@{/(page=|${boards.number+1}|)}">Next</a></li>
            <li class="page-item" th:unless="${boards.last}"><a style="color: #28a745;" class="page-link"
                                                                th:href="@{/(page=|${boards.number+1}|)}">Next</a></li>
        </ul>

        <form th:action="@{'/'}" role="form" method="get">
            <div class="form-inline justify-content-center" th:object="${boardSearchDto}">
                <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
                    <option value="all">전체기간</option>
                    <option value="1d">1일</option>
                    <option value="1w">1주</option>
                    <option value="1m">1개월</option>
                    <option value="6m">6개월</option>
                </select>
                <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                    <option value="title">제목</option>
                    <option value="createdBy">등록자</option>
                </select>
                <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
                <button id="searchBtn" type="submit" class="btn btn-success">검색</button>
            </div>
        </form>
    </div>
</div>
</html>